<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script scr="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1>Update Information</h1>
<form method="POST" action="/update/{{ product.id }}" class="p-5 bg-success">
   {% csrf_token %}
    <label for="name" class="form-label">product name</label>
    <input type="text" id="name" name="name" value="{{ product.name }}" class="form-control">

     <label for="price" class="form-label">price</label>
    <input type="number" id="price" name="price" value="{{ product.price }}" class="form-control">

     <label for="description" class="form-label">description</label>
    <input type="text" id="description" name="description" value="{{ product.description }}" class="form-control">


     <label for="origin" class="form-label">origin</label>
    <input type="text" id="origin" name="origin" value="{{ product.origin }}" class="form-control">


     <label for="color" class="form-label">color</label>
    <select name="color" id="color">
        <option selected>{{ product.color }}</option>
        <option value="brown">brown</option>
        <option value="black">black</option>
    </select>

    <br><br>

    <button type="submit" class="btn btn-primary">update</button>
</form>

</body>
</html>